
<!-- <div>
      <h1><%= @feed.channel.title %></h1>
    <% @feed.items.each do |item| %>
      <div style="padding-bottom: 30px;">
        <h2><%= link_to item.title, item.link %></h2>
        <p><%= item.description.html_safe %></p>
      </div>
    <% end %>
</div>
 -->
