
body {margin-top: 50px;margin-bottom: 50px;font-family: 'PT Sans', sans-serif;}

.post-content__name {font-size: 60px;font-weight: bold;}

.post-content {padding-top: 30px;}
.post-content h1 {font-size: 36px;font-weight: bold;}
.post-content h2, h3 {font-weight: bold;}
.post-content p {font-size: 18px;line-height: 26px;}
.post-content__date {padding-top: 10px;font-size: 16px !important;}
